 *{
   
   margin: 0;
   padding: 0;
 }
 
 :root{
  --mainBlue:#052244;
  --mainDark : #232528;
  --mainYellow:  #FFE580;
  --lightGray:#F5F5F3;
  --mainGray:#E5E5E5;
  --mainWhite:#F1F1F1;
}
body{
  font-family:"Proxima Nova Alt" !important;
  background: var(--mainWhite) !important;
  color: var(--mainBlue) !important;
  
}
.main{
  width:100%;
  padding:30px;
  background-color: var(--mainWhite);

}


